/* reset */
html,
body,
p,
div,
h1,
button,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 100px;
  color: #919cb9;
}

button,
input {
  width: 1rem;
  height: 0.4rem;
  outline: none;
  border: none;
  border-radius: 0.1rem;
  margin-left: 0.1rem;

}

button {
  width: 0.9rem;
  height: 0.4rem;
  background-color: #009688;
  color: white;
  cursor: pointer;

  &.sm {
    width: 70px;
    height: 0.3rem;
  }
}

input {
  width: 2.5rem;
  height: 0.4rem;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding-left: 0.1rem;

  &.lg {
    width: 80%;
  }
}

h2 {
  color: #919cb9;
}

h4 {
  color: #8a8a8a;
}

@media(max-width:540px) {
  html {
    font-size: 84.375px;
  }
}

/*Android常用宽度*/
@media(max-width:480px) {
  html {
    font-size: 75px;
  }
}

/*Android常用宽度*/
@media(max-width:414px) {
  html {
    font-size: 64.69px;
  }
}

/*i6Plus,i7Plus宽度*/
@media(max-width:375px) {
  html {
    font-size: 58.59px;
  }
}

/*i6,i7宽度*/
@media(max-width:360px) {
  html {
    font-size: 56.25px;
  }
}

/*Android常用宽度*/
@media(max-width:320px) {
  html {
    font-size: 50px;
  }
}

html,
body {
  height: 100%;
  font-family: "微软雅黑";
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}